* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Sans-serif;
    font-weight: bold;
  }

  body 
  {
   background-color: rgb(20, 19, 19);
    transition: 0.8s; 
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
  }

  h1
  {
      margin-top: 25vh;
      margin-bottom: 10px;
      text-align: center;
      margin-top: 30%;
      color: #fff;
  }
  .container 
  {
      width: 400px;
  }
  .result
  {
      width: 16%;
  }
  input 
{
      padding: 25px;
      color: rgb(255, 255, 255);
      font-size: 1em;
      cursor: pointer;
      width: 70px;
      background-color: rgb(47, 51, 50);
      border: none;
      outline: rgb(248, 74, 74);
      border-radius: 4px;
      -webkit-transform-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }

  .First-row,
  .Second-row,
  .Third-row,
  .Fourth-row,
  .Fifth-row{
    margin-bottom: 3px;
  }
  input[type="text"] {
    background-color: rgb(47, 51, 50);
  }
  input[type="button"]:hover {
    background-color: rgb(160,160,160);
    color: rgb(255, 255, 255);
  }
  .clear {
    color: #fff;
    background-color: rgb(255, 0, 0);
  }

  button {
    border: none;
    background-color: rgb(36,36,36);
    padding: 10px;
    color: rgb(255, 255, 255);
    margin: 2px;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
  }:hover{
    color: rgb(57, 103, 231);
  }
  .Sixth-row
  {
    width : 30%;
  }
  input[type="checkbox"]:checked{
    color: none;
  }
  
  @media (max-width: 640px) {
    h1 {
      margin-top: 15vh;
    }
  }
